.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 15px;
    align-items: center;
  }
  .header-button {
    position: relative;
    z-index: 99;
    display: block;
    width: 60px;
    height: 60px;
    background: #666;
    border: 0;
    cursor: pointer;
    transition: all 1s;
  }
  
  .header-button i {
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #efc3bd;
    transition: all 0.5s;
  }
  
  .header-button i:nth-of-type(1) {
    margin-top: -2px;
  }
  
  .header-button i:nth-of-type(2) {
    margin-top: 8px;
  }
  
  .header-button i:nth-of-type(3) {
    margin-top: 8px;
  }
  
  .header-button.js-active {
    background: #957e80;
  }
  
  .header-button.js-active i:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
    transform-origin: center center;
  }
  
  .header-button.js-active i:nth-of-type(2) {
    opacity: 0;
  }
  
  .header-button.js-active i:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
    transform-origin: center center;
  }
  
  .globalmenu {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background: #957e80;
    transition: all 1s;
    overflow: auto;
  }
  
  .globalmenu.js-active {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    .globalmenu.js-active {
      transform: translateX(33%);
    }
  }
  @media screen and (min-width: 1024px) {
    .globalmenu.js-active {
      transform: translateX(66%);
    }
  }
  .globnalmenu-list {
    padding:150px 20px;
  }
  .globnalmenu-list li {
    color:#fff;
  }
  .globnalmenu-list li + li {
    margin-top:30px;
  }