@charset "utf-8";
@font-face {
    font-family: 'スマートフォントUI';
    src: url("../fonts/03スマートフォントUI.otf") format("opentype");
}

body{
    
    font-family: 'スマートフォントUI';
    background-image: url("../img/back.png") ;
}
h1 .title{
  font-size: 2rem;
}
.header {

    border-radius: 50px 50px 50px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr 60px;
    gap: 15px;
    align-items: center;
  }
  .header-button {
    border-radius: 50px;
    position: relative;
    z-index: 99;
    display: block;
    width: 60px;
    height: 60px;
    background: #666;
    border: 0;
    cursor: pointer;
    transition: all 1s;
  }
  
  .header-button i {
    display: block;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    background-color: #efc3bd;
    transition: all 0.5s;
  }
  
  .header-button i:nth-of-type(1) {
    margin-top: -2px;
  }
  
  .header-button i:nth-of-type(2) {
    margin-top: 8px;
  }
  
  .header-button i:nth-of-type(3) {
    margin-top: 8px;
  }
  
  .header-button.js-active {
    background: #957e80;
  }
  
  .header-button.js-active i:nth-of-type(1) {
    transform: translateY(10px) rotate(45deg);
    transform-origin: center center;
  }
  
  .header-button.js-active i:nth-of-type(2) {
    opacity: 0;
  }
  
  .header-button.js-active i:nth-of-type(3) {
    transform: translateY(-10px) rotate(-45deg);
    transform-origin: center center;
  }
  
  .globalmenu {
 
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-image: url("../img/無題80_20230630113347\ \(1\).png");
    transition: all 1s;
    overflow: auto;
  }
  .header-button{
    margin-left: 101.5%;
  }
  .title{
   z-index: 1;
  }
  
  .globalmenu.js-active {
    transform: translateX(0);
  }
  @media screen and (min-width: 768px) {
    /* .globalmenu.js-active {
      transform: translateX(33%);
    } */
  }
  @media screen and (min-width: 1024px) {
    /* .globalmenu.js-active {
      transform: translateX(66%);
    } */
  }
  .globnalmenu-list {
    padding:50px 20px;
  }
  .globnalmenu-list li {
    color:#fff;
  }
  .globnalmenu-list li + li {
    margin-top:30px;
  }
  .icon {
    margin-left: 50px;
    width: 400px;
    height: auto;
    display: flex;
    }
  .menu{
    display: flex;
    margin-left: 30px;
  }
  .iconmenu{
    display: flex;
    
  }
  .menu1{
    display: flex;
    flex-direction: column;

    margin-top: 80px;
    margin-left: 80px;
  }
  .menu2{
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    font-size: 30px;
    margin-left: 100px;
  }
  .back{
    margin-left: 70px;
    width: 650px;
    background-color: #ffffff63;
  }

  .menu a{
    
    font-size: 2rem;
    color: #000000; 
    text-decoration: none;
    background-color: #ffffffba;
    margin: 5px;
    border: solid 1px #454545;
  }
  .menu a:hover{
    color: #000000; 
    background-color: #dcfffcba;
    border: solid 1px #454545;
  }
   #svg {
      position: fixed;
      width: 100%;
      height: 100%;
    }

    #background {
      filter: url("#disFilter");
    }

    #main {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 15px solid #fff;
      box-sizing: border-box;
      padding: 4%;
      text-shadow: 1px 1px 5px #fff;
      overflow: hidden;
    }

    html {
      font-family: sans-serif;
    }
    

    
    ul {
      padding: 0;
      list-style: none;
    }
    
    a {
      color: #4b5564;
      text-decoration: none;
    }
    
    a:hover {
      color: #000;
    }
    
    hr {
      height: 1px;
      border: 0;
      border-top: 1px solid #e5e7eb;
    }
    
    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
    
    .footer {
      padding: 2rem;
      font-size: 15px;
      color: #4b5564;
      background: #e8fffa;
    }
    
    .footer__navi-heading {
      font-size: 35px;
    }
    
    .footer__logo {
      display: inline-block;
      margin-bottom: 2rem;
      width: 40px;
      height: auto;
    }
    map{
      margin-left: 300px;
    }
    .footer__navi li {
      margin-bottom: 0.75rem;
    }
    .futter_logo{
      height: 50px;
      width: auto;
    }
    @media (min-width: 768px) {
      .md-flex {
        display: flex;
      }
    
      
    
      .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
