@charset "utf-8";
/*=================================================================
   　　　　　　　　　　　　　TOP画面
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　　会社概要
=================================================================*/


/*=================================================================
   　　　　　　　　　　　施工実績・内容
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　施工実績詳細
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　　お知らせ
=================================================================*/




/*=================================================================
   　　　　　　　　　　　お知らせ記事詳細
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　　　Q&A
=================================================================*/


/*=================================================================
   　　　　　　　　　　お問い合わせフォーム
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　求人フォーム
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　見積りフォーム
=================================================================*/



/*=================================================================
   　　　　　　　　　　　　採用情報
=================================================================*/
.adoption_main{
   padding: 25px;
   font-size: 30px;
}
.adoption_head{
   font-size: 30px;
   display: inline-block; 
   border: solid 1px #454545; 
   border: 3px solid#333333;;
}
.adoption_nomal{
   font-size: 20px;
}
.adoption_big{
   font-size: 55px;
}
.container {
   display: flex;
}
.adoption_info {
   width: 100%; 
   padding: 20px;
   border: 1px solid #333;
   box-sizing: border-box;
}
.adoption_title{
   font-size: 25px;
}
.ch{
   font-size: 15px;
}