@charset "utf-8";
/*=================================================================
   　　　　　　　　　　　　　TOP画面
=================================================================*/
.top_news{
   display: flex;
   margin-top:35px ;
   margin-bottom: 35px;
}
.top_news_space{
   margin-left: 100px;
   margin: 0 auto;

}
.top_content{
   white-space: pre-wrap;
}
.news_title{
   
      width: 250px; /* 省略せずに表示するサイズを指定 */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  .top_content{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
} 

/*=================================================================
   　　　　　　　　　　　　　会社概要
=================================================================*/


/*=================================================================
   　　　　　　　　　　　施工実績・内容
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　施工実績詳細
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　　お知らせ
=================================================================*/




/*=================================================================
   　　　　　　　　　　　お知らせ記事詳細
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　　　Q&A
=================================================================*/


/*=================================================================
   　　　　　　　　　　お問い合わせフォーム
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　求人フォーム
=================================================================*/


/*=================================================================
   　　　　　　　　　　　　見積りフォーム
=================================================================*/



/*=================================================================
   　　　　　　　　　　　　採用情報
=================================================================*/
.adoption_main{
   padding: 25px;
}
.adoption_head{
   display: inline-block; 
   border: solid 1px #454545; 
   border: 3px solid#333333;;
}

