<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="adoption_nomal">会社からの言葉</div>
    <div class="adoption_big">message</div>
    <div style="text-align: center;">
        <div class="adoption_head">
            新たな従業員を募集中
        </div>
    </div>
    <div class="adoption_main">
        当社では新卒採用を積極的に行っています。未来のリーダーや
        才能を育成し、会社の成長に貢献していただける方を求めてい
        ます。我々のビジョンに共感し、挑戦する意欲のある方を歓迎
        します。新卒採用は学生の皆さんのキャリアのスタートを応援
        する大切な機会です。私たちは個々の成長をサポートし、能力
        を最大限に発揮できる環境を提供します。詳細な情報や応募方法
        については、弊社採用ページをご覧ください。皆さんの才能と
        情熱を当社で活かし、共に未来を創りましょう。
    </div><br><br><br><br>

    <div class="adoption_nomal">社員インタビュー</div>
    <div class="adoption_big">interview</div>

    <div class="adoption_nomal">水道工事の仕事で最も印象に残ったエピソードは何です
        か？その経験から何を学びましたか？
    </div>
    <div class="adoption_nomal">ある地域での大規模な水道修復作業で、住民の喜びと
        感謝の声を聞いたことがあります。困難な状況でも、
        私たちの仕事が人々の生活に直結することを実感しま
        した。協力と責任の大切さを学びました。
    </div><br><br>
    <div class="adoption_nomal">水道工事の仕事において一番重要と感じたことは
        何ですか？
    </div>
    <div class="adoption_nomal">安全性を確保することです。水道工事は高いリスクを
        伴いますが、常に安全第一の意識を持ち、事故や怪我
        防止に全力を注いでいます。徹底した安全対策と適切
        な装備の使用、作業員への安全教育など、安全性を確保
        するための努力が不可欠です。お客様の安心と信頼を守
        るため、安全への取り組みは水道工事において最も重要
        な要素となります。
    </div>
</body>
</html>