<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
    <title>Document</title>
</head>
<body>

</body>
</html>
    
    
    
=======
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/jquery.ripples-min.js"></script>
<script src="{{url_for('static', filename='js/kayout.js')}}"></script>
<script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div class="img-frame">
    <div class="top_news">
    {% for News in news %}
    <div class="top_news_space">
        <p class="news_image"><img src="{{url_for('static', filename='/img/'+News[3])}}" alt="ニュースイメージ"></p>
        <p class="news_title">{{News[1]}}</p>
        <p class="top_content">{{News[2]}}</p>
    </div>
    <script>
        const limit = document.querySelector(".top_content");
    const str = limit.textContent;
    const len = 10; 
    if (str.length > len) {
      limit.textContent = str.substring(0, len) + "…";
    }
    </script>
            {% endfor %}
    </div>

</div>
<p class="title">会社概要</p>
<h1 class="title_sub">company<h1>
<h2>どんな会社？</h2>
<p>姫神設備工業は皆様の生活に必要不可欠な水回りの工事をしている会社です</p>
<h2>どんな仕事をしている？</h2>
<p>配管の工事や配管の修理等そのほかにも給湯器の交換も行っています</p>
<img src="" alt="施工実績">
<img src="" alt="施工実績２">
<img src="" alt="SDGS">
<h2>仕事以外の取り組みは?</h2>
<p>SDGSなどの環境貢献活動をしています
</p>

<div>
    <a href="{{url_for('form')}}">求人フォームはこちら</a>
</div>

<p>企業実績</p>
<p>achievement</p>
<div class="achievement">
    <div class="slide-container">
        <div class="slide-wrapper">
        <img class="slide" src="../static/img/sL81O1.jpg" alt="京都">
        <img class="slide" src="../static/img/uDV903.jpg" alt="横浜">
        <img class="slide" src="../static/img/WIIAN2.jpg" alt="良い街">
        </div>
        <div class="slide-wrapper">
        <img class="slide" src="../static/img/uDV903.jpg" alt="横浜">
        <img class="slide" src="../static/img/sL81O1.jpg" alt="京都">
        <img class="slide" src="../static/img/WIIAN2.jpg" alt="良い街">
        </div>
        <div class="slide-wrapper">
        <img class="slide" src="../static/img/WIIAN2.jpg" alt="良い街">
        <img class="slide" src="../static/img/sL81O1.jpg" alt="京都">
        <img class="slide" src="../static/img/uDV903.jpg" alt="横浜">
        </div>
    </div>
</div>

{% endblock %}

