<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>サイトポリシー</h1>
    <h2>プライバシーポリシー:</h2>
    <p>当サイトは利用者の個人情報保護を重要視しており、適切な方法で情報を収集、管理、保護します。個人情報の取り扱いについては、プライバシーポリシーをご確認ください。</p>
    <h2>著作権と知的財産権:</h2>
    <p>当サイトに掲載されているコンテンツ（文章、画像、動画等）の著作権及び知的財産権は、当サイトもしくはコンテンツ提供者に帰属します。無断での複製・転載を禁止しています。</p>
    <h2>免責事項:</h2>
    <p>当サイトのコンテンツは情報提供を目的としており、可能な限り正確な情報を掲載するよう努めていますが、内容の正確性を保証するものではありません。当サイトの情報を利用する際は、利用者の責任において行ってください。</p>
    <h2>コミュニケーションポリシー:</h2>
    <p>当サイトへのコメントやコンタクトフォームを通じてのコミュニケーションにおいては、他者への配慮を心掛け、公序良俗に反する内容や違法な行為は禁止とします。適切なコミュニケーションを守るようお願いします。</p>
</body>
</html>